* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --spanColor: #a1ff84;

  --bodyBckg: #c2c2c2; /* d8d8d8 */

  --headerBckg: #378130;
  --headerTextColor: #d8d8d8;

  --formTextColor: #474747;
  --inputBorderColor: #999;
  --addSubmittedBckg: #24541f;

  --clearFieldsBtnBckg: #777777;
  --clearFieldsBtnBckgActive: #525252;
  --deleteBtnBckg: #ac0808;
  --deleteBtnBckgActive: #840707;
}

/***** HELPER CLASSES *****/
.hide {
  display: none;
}

/* COLOR STYLING */
span {
  color: var(--spanColor);
}

/* ********* */
/* TEXT COLOR STYLING */
select,
input {
  color: var(--formTextColor);
}

body {
  font-size: 1.1rem;
  color: var(--textColor);
  background-color: var(--bodyBckg);
}

header {
  font-style: italic;
  font-size: 1.2rem;
  text-align: center;
  color: var(--headerTextColor);
  background-color: var(--headerBckg);
  padding: 0.8rem 0;
}

main {
  margin-top: 3rem;
}

/* FORM STYLING */
form {
  /* display: flex; */
  display: grid;
  justify-content: center;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(5, 1fr);
}
form div:nth-child(16) {
  grid-column: 2;
}
form div {
  display: flex;
  flex-direction: column;
  margin: 0.8rem 1.4rem;
}
form label {
  color: var(--formTextColor);
  text-align: center;
}

form input {
  padding: 0.2rem 1rem;
  outline: none;
}

select {
  border: none;
  outline: none;
  padding: 0.16rem 0;
}

/* BORDERS STYLING */
form input,
select,
.displayRow {
  border: solid 1px var(--inputBorderColor);
  border-radius: 11px;
}
/* BUTTONS STYLING */
#submitBtn,
#deleteAllBtn,
#clearBtn {
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 11px;
  border: none;
  font-weight: 500;
  color: var(--headerTextColor);
  background-color: var(--headerBckg);
}
#submitBtn:hover,
#deleteAllBtn:hover,
#clearBtn:hover {
  cursor: pointer;
}

#submitBtn:active {
  cursor: pointer;
  background-color: var(--addSubmittedBckg);
}

#clearBtn {
  background-color: var(--clearFieldsBtnBckg);
}
#clearBtn:active {
  background-color: var(--clearFieldsBtnBckgActive);
}
#deleteAllBtn {
  background-color: var(--deleteBtnBckg);
}
#deleteAllBtn:active {
  background-color: var(--deleteBtnBckgActive);
}
/* HEADING 2 */
h2 {
  margin-left: 1.7rem;
  color: var(--addSubmittedBckg);
  margin-top: 2rem;
}

/* CLIENT DATA ROWS STYLING */
.displayRowHeadings {
  display: flex;
  justify-content: space-around;
  column-gap: 3rem;
  margin: 0 1.3rem;
  margin-top: 2rem;
}

.displayRow {
  display: flex;
  justify-content: left;
  background-color: var(--inputBorderColor);
  padding: 0.3rem;
  margin: 2rem 0.5rem;
}
.displayRow p:first-of-type {
  margin-left: 0rem;
}
.displayRow p:last-of-type {
  margin-right: 1rem;
}

.displayRow p {
  font-size: 1rem;
  word-wrap: break-word;
  border: solid 1px green;
}

/* ADJUSTING RENDERED DATA FIELDS */
/* Name */
.displayRow p:nth-child(1) {
  width: 4%;
}
/* Surname */
.displayRow p:nth-child(2) {
  margin-left: 1.5rem;
  width: 4.4%;
}
/* Phone */
.displayRow p:nth-child(3) {
  margin-left: 1.2rem;
  width: 5%;
}
/* Email */
.displayRow p:nth-child(4) {
  margin-left: 0.8rem;
  width: 5%;
}
/* Application Date */
.displayRow p:nth-child(5) {
  margin-left: 2.2rem;
  width: 5%;
}
/* Choice */
.displayRow p:nth-child(6) {
  margin-left: 3.8rem;
  width: 6%;
}
/* Start Date */
.displayRow p:nth-child(7) {
  margin-left: 1.2rem;
  width: 5%;
}
/* Current Status */
.displayRow p:nth-child(8) {
  margin-left: 3.3rem;
  width: 4.5%;
}
/* Bank */
.displayRow p:nth-child(9) {
  margin-left: 3rem;
  width: 4.5%;
}
/* Sum */
.displayRow p:nth-child(10) {
  margin-left: 1.5rem;
  width: 4%;
}
/* Rate Exp100 % */
.displayRow p:nth-child(11) {
  margin-left: 2.5rem;
  width: 4%;
  text-align: center;
}
/* Firm Income */
.displayRow p:nth-child(12) {
  margin-left: 5.5rem;
  width: 4%;
}
/* My Payment */
.displayRow p:nth-child(13) {
  margin-left: 4.5rem;
  width: 4%;
}
/* My Notes */
.displayRow p:nth-child(14) {
  margin-left: 3.8rem;
  width: 6%;
}
/* My Notes */
.displayRow p:nth-child(15) {
  margin-left: 2.5rem;
  width: 5%;
}

/* MODAL STYLING */
#deleteModal {
  position: absolute;
  background-color: white;
  left: 37%;
  bottom: 40%;
  padding: 5rem;
  border: solid 2px #777;
  border-radius: 9px;
}
#deleteModal p:first-child {
  position: relative;
  left: 110%;
  bottom: 4rem;
  background-color: #414141;
  color: white;
  width: 7.8%;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}
#deleteModal button {
  padding: 0.5rem 1rem;
  margin: 0 4rem;
  margin-top: 2rem;
  border: none;
  font-weight: 600;
  border-radius: 11px;
}
#deleteModal button:hover {
  cursor: pointer;
}
#deleteBtnYes {
  color: white;
  background-color: red;
}
#deleteBtnNo {
  color: white;
  background-color: #4484f2;
}
/* 
<div id="deleteBtnModal">
        <p>X</p>
        <p>Are you sure you want to delete all client data?</p>
        <p>This action cannot be reversed!</p>
        <button id="deleteBtnYes">YES</button>
        <button id="deleteBtnNo">NO</button>
      </div>
*/
